Repository espoo-dev/espoo-dev: changes, and which Semaphore blocks are due for each by the changed paths.
All: Install dependencies, Lint, Build, Test, Deploy storybook docs

.semaphore/semaphore.yml:

version: v1.0
name: Espoolingo
agent:
  machine:
    type: e1-standard-2
    os_image: ubuntu1804
blocks:
  - name: Install dependencies
    dependencies: []
    run:
      when: change_in('/frontend/package.json')
    task:
      jobs:
        - name: install client dependencies
          commands:
            - checkout
            - cd frontend
            - cache restore
            - yarn install
            - cache store
  - name: Lint
    dependencies:
      - Install dependencies
    run:
      when: change_in('/frontend')
    task:
      jobs:
        - name: lint client
          commands:
            - checkout
            - cd frontend
            - cache restore
            - yarn lint
  - name: Build
    dependencies:
      - Install dependencies
    run:
      when: change_in('/frontend')
    task:
      jobs:
        - name: build client
          commands:
            - checkout
            - cd frontend
            - cache restore
            - yarn install
            - yarn build
  - name: Test
    dependencies:
      - Install dependencies
    run:
      when: change_in('/frontend')
    task:
      jobs:
        - name: run unit tests
          commands:
            - checkout
            - cd frontend
            - cache restore
            - yarn install
            - yarn test
  - name: Deploy storybook docs
    dependencies:
      - Install dependencies
    run:
      when: change_in('/frontend')
    task:
      secrets:
        - name: chromatic
      jobs:
        - name: deploy docs
          commands:
            - checkout
            - cd frontend
            - cache restore
            - yarn install
            - yarn chromatic --project-token="$CHROMATIC_PROJECT_TOKEN"

fixing env variable call on semaphore config
  .semaphore/semaphore.yml
Due: none

updating pipeline
  .semaphore/semaphore.yml
Due: none

fix env var
  .semaphore/semaphore.yml
Due: none

update pipe
  .semaphore/semaphore.yml
Due: none

Adding config to deploy storybook to chromatic and updating pipeline
  .semaphore/semaphore.yml
  frontend/.gitignore
  frontend/package.json
  frontend/yarn.lock
Due: Install dependencies, Lint, Build, Test, Deploy storybook docs

feature/deploy-storybook (#296)
  .semaphore/semaphore.yml
  frontend/.gitignore
  frontend/package.json
  frontend/yarn.lock
Due: Install dependencies, Lint, Build, Test, Deploy storybook docs

refactoring folder structure
  frontend/src/components/question/QuestionWrapper.tsx
  frontend/src/components/question/index.ts
  frontend/src/components/questions/index.ts
  frontend/src/components/questions/multi-choice.tsx
  frontend/src/components/questions/single-choice.tsx
Due: Lint, Build, Test, Deploy storybook docs

splitting question handler to new component
  frontend/src/components/question-handler/index.ts
  frontend/src/components/question-handler/question-handler.tsx
Due: Lint, Build, Test, Deploy storybook docs

creating survey stepper component
  frontend/src/components/survey-stepper/index.ts
  frontend/src/components/survey-stepper/survey-context.tsx
  frontend/src/components/survey-stepper/survey-stepper.tsx
Due: Lint, Build, Test, Deploy storybook docs

creating random id generator
  frontend/src/utils/random-id.ts
Due: Lint, Build, Test, Deploy storybook docs

adding new color to colors object
  frontend/src/styles/colors.ts
Due: Lint, Build, Test, Deploy storybook docs

removing unused imports and using survey stepper
  frontend/src/pages/surveys/[survey_id].tsx
Due: Lint, Build, Test, Deploy storybook docs

updating linter rules and tsconfig
  frontend/.eslintrc.js
  frontend/tsconfig.json
Due: Lint, Build, Test, Deploy storybook docs

:sparkles: adding test to pipeline #291
  .semaphore/semaphore.yml
  frontend/jest.config.ts
Due: Lint, Build, Test, Deploy storybook docs

:ambulance: Removing test block duplicated
  .semaphore/semaphore.yml
Due: none

update pipeline
  .semaphore/semaphore.yml
Due: none

:sparkles: Adding coverage badge #291
  README.md
Due: none

:ambulance: suggestions changes #291
  .semaphore/semaphore.yml
Due: none

👷 adding coverage to codeclimate #291
  .semaphore/semaphore.yml
  README.md
Due: none

#298 :hammer: fix badge
  README.md
Due: none

#298 :hammer: fix badge (#299)
  README.md
Due: none

:hammer: Update test to run coverage
  frontend/src/components/navbar/navbar.test.tsx
Due: Lint, Build, Test, Deploy storybook docs

update semaphore config
  .semaphore/semaphore.yml
Due: none

📝 update doc
  CONTRIBUTING.md
  README.md
  backend/README.md
  backend/bin/bundle
Due: none

create question type free text
  backend/config/locales/en.yml
  backend/config/locales/pt-br.yml
  backend/db/seeds.rb
  backend/spec/models/question_spec.rb
Due: none

add user_answer to answer
  backend/app/models/answer.rb
  backend/app/models/question.rb
  backend/app/models/question_type.rb
  backend/db/migrate/20210814060456_add_free_text_to_answer.rb
  backend/db/schema.rb
  backend/spec/factories/answers.rb
  backend/spec/factories/options.rb
  backend/spec/factories/question_types.rb
  backend/spec/factories/questions.rb
  backend/spec/models/answer_spec.rb
Due: none

fix specs
  backend/app/models/answer.rb
  backend/spec/factories/question_types.rb
  backend/spec/models/question_type_spec.rb
Due: none

support free_text answer creation
  backend/app/controllers/api/v1/answers_controller.rb
  backend/app/controllers/concerns/answer_concern.rb
  backend/app/serializers/answer_serializer.rb
  backend/spec/requests/answers_request_spec.rb
  backend/spec/requests/answers_surveys_request_spec.rb
Due: none

fix cops
  backend/app/controllers/concerns/answer_concern.rb
  backend/spec/models/answer_spec.rb
  backend/spec/requests/answers_request_spec.rb
Due: none

fix typo
  backend/spec/requests/answers_request_spec.rb
Due: none

create question type free text
  backend/app/controllers/api/v1/answers_controller.rb
  backend/app/controllers/concerns/answer_concern.rb
  backend/app/models/answer.rb
  backend/app/models/question.rb
  backend/app/models/question_type.rb
  backend/app/serializers/answer_serializer.rb
  backend/config/locales/en.yml
  backend/config/locales/pt-br.yml
  backend/db/migrate/20210814060456_add_free_text_to_answer.rb
  backend/db/schema.rb
  backend/db/seeds.rb
  backend/spec/factories/answers.rb
  backend/spec/factories/options.rb
  backend/spec/factories/question_types.rb
  backend/spec/factories/questions.rb
  backend/spec/models/answer_spec.rb
  backend/spec/models/question_spec.rb
  backend/spec/models/question_type_spec.rb
  backend/spec/requests/answers_request_spec.rb
  backend/spec/requests/answers_surveys_request_spec.rb
Due: none

306 - fix surveys index for non admin users
  backend/app/controllers/api/v1/surveys_controller.rb
  backend/app/models/survey.rb
  backend/spec/factories/users.rb
  backend/spec/requests/surveys_request_spec.rb
Due: none

Improve readme files
  backend/README.md
  frontend/.env.docker.example
  frontend/.env.native.example
  frontend/README.md
  frontend/package.json
  frontend/yarn.lock
Due: Install dependencies, Lint, Build, Test, Deploy storybook docs

improve readme files
  CONTRIBUTING.md
  README.md
Due: none

Update gems
  backend/Gemfile.lock
Due: none

Update PR template
  docs/pull_request_template.md
Due: none
